{% extends 'blog/base.html' %}




{% block content %}
    <h1>{{ title }}</h1>
    <br>

    <table cellpadding="8px"
       </tr>
	      <td valign="top"><h5>Основные навыки</h5></td>
          <td><p class="tab">Разработка полного комплекта конструкторской документации,
           знание ЕСКД, работа с листовым металлом и сварными конструкциями,
           расчеты методом конечных элементов, конструирование новой техники
           как в составе группы так и самостоятельно, авторский контроль изготовления,
           взаимодействие с производством.
           </p>
          </td>
	   </tr>
       <tr>
          <td valign="top"><h5>Опыт работы</h5></td>
	      <td>
              2016-настоящее время. ГК КАНЕКС<br>
              <i>Ведущий инженер-конструктор</i>
              <p class="tab">Разработка КД на оборудование для ГМК "Норильский Никель"</p>
              <br>


              2007-2016. ЗАО “БЕЦЕМА”<br>
              <i>Инженер-конструктор, руководитель группы</i>
              <p class="tab">Конструирование  дорожной техники (термос миксер литого асфальта, перегружатель
                  асфальтобетонной смеси, щебнераспределитель, машина для ямочного ремонта). Модернизация, составление
                  схем оборудования для цементной промышленности (оборудование для загрузки вагонов, камерные и
                  винтовые насосы, конвейеры, аэрожелоба). Ведение проекта (разработка компоновочной схемы,
                  распределение узлов между исполнителями, проверка чертежей).</p>

              2007г.  ООООИ “ДВИЖЕНИЕ” (ОАО ИК “Три ЭФ”)<br>
              <i>Инженер-конструктор</i>
              <p class="tab">Конструирование технологического оборудования для пищевой промышленности
                  (ленточные и шнуровые транспортеры и т.п.). </p>

              2002-2006 гг.   ЗАО “БЕЦЕМА”<br>
              <i>Инженер-конструктор</i>
              <p class="tab">Конструирование  надстроек на шасси, прицепов, полуприцепов (автобетоносмесители,
                  бензовозы водовозы, передвижные емкости для геля, фургоны).</p>

              2001-2002гг. “Компания Б-Графф”<br>
              <i>Инженер-проектировщик</i>
               <p class="tab">Проектирование слаботочных сетей, согласование проекта с заказчиком, курирование объекта.</p>
          </td>
       </tr>
       </tr>
	      <td valign="top"><h5>Образование</h5></td>
          <td><p>1995-2001 гг. Омский Государственный Технический Университет
                Квалификация: инженер по специальности “Ракетостроение” </p>
          </td>
	   </tr>
       </tr>
	      <td valign="top"><h5>Патенты</h5></td>
          <td><p>Патент на полезную модель №105629 «Машина для перевозки и укладки термопластичных материалов»</p>
          </td>
	   </tr>
       </tr>
	      <td valign="top"><h5>Владение ПК</h5></td>
          <td><p>SolidWorks, SolidWorks Simulation,  Pro/ENGINEER,  AutoCAD, Компас-3D, ЛОЦМАН:PLM, SEARCH, 1С,
              MathCAD, офисные программы.</p>
          </td>
	   </tr>
       </tr>
	      <td valign="top"><h5>Сведения о себе</h5></td>
          <td><p>Дата рождения: 28.07.1978г. Дети: есть. Семейное положение: женат. Прописка: г. Красногорск.</p>
          </td>
	   </tr>
       </tr>
	      <td valign="top"><h5>Дополнитель-ные сведения</h5></td>
          <td><p>Английский язык – Intermediate, водительские права категории “В”</p>
          </td>
	   </tr>
       </tr>
	      <td valign="top"><h5>Контакты</h5></td>
          <td><p>Е-mail: alex.b@inbox.ru</p>
          </td>
	   </tr>



     </table>




{% endblock %}